@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&family=Rubik:wght@500&display=swap');    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Poppins';
    color: white;
}
img{
    z-index: -1;
}
.section1,
.section4{
    height: 100vh;
    width: 100vw;
    min-width: 800px;
    overflow: hidden;
}
.section2,
.section3{
    height: 120vh;
    width: 100vw;
    min-width: 800px;
    overflow: hidden;
}
.main-page{
    background-image:url("main-page-bg.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 1em;
    padding-left: 30px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.header-title{
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 30px;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 150%;
}
li{
    font-family: 'Rubik';
    font-size: 20px;
}
.main-page-body{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.main-page-body-text{
    position: relative;
    left: 10%;
    bottom: -10%;
    padding: 1em;
    width: 50%;
    display:flex;
    flex-direction: column;
    border-left: 6px solid rgba(218, 168, 103, 1);
    border-bottom: 6px solid rgba(218, 168, 103, 1);
    line-height: 3em;
}
.date{
    width: fit-content;
    padding: 0px 5px;
    background-color: rgba(218, 168, 103, 0.5);
}
.main-page-body-text-title{
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 30px;
}
.main-page-body-text-paragraph{
    line-height: 1em;
}
a{
    text-transform: lowercase;
    color: white;
}
.page1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    background-image: linear-gradient(360deg, black,rgb(56, 55, 55));
}
.page1-part1{
    display: flex;
    margin: 5em;
}
.page1-part1-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.page1-part1-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3em;
    padding: 2em;
    border-right: 6px solid rgba(218, 168, 103, 1);
    border-bottom: 6px solid rgba(218, 168, 103, 1); 
    text-align: right;
    line-height: 3em;
}
.page1-part1-title{
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 30px;
}
.page1-part1-paragraph{
    line-height: 1em;
    width: 100%;
}
.page1-part2{
    background-image: url("page1-part2-bg.png");
    background-size: cover;
    background-position-y: 50%;
    display:flex;
    flex-wrap: wrap;
}
.page1-part2-text{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
    top:15%;
    padding: 1em;
    width: 70%;
    line-height: 3em;
}
.page1-part2-title{
    border-left: 6px solid rgba(218, 168, 103, 1); 
    border-bottom: 6px solid rgba(218, 168, 103, 1);
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 30px;
    width: 50%;
    padding: 1em;
    padding-top: 0;
    margin-bottom: 1em;
}
.page1-part2-paragraph{
    line-height: 1em;
}
.page2{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-rows: 40% 60%;
}
.page2-part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page2-part1-title{
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 30px;
    color:rgba(218, 168, 103, 1);
    padding-bottom: 1em;
}
.data-box{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.active-tours,
.happy-clients,
.distinations,
.years-of-work{
    border: 1px solid rgba(218, 168, 103, 0.37);
    padding: 3em; 
    text-align: center;
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 10px;
    line-height: 3em;
}
span{
    color:rgba(218, 168, 103, 1);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 100;
}
.page2-part2{
    display:flex;
    flex-wrap: nowrap;
}
.page2-part2-text-whole{
    display: flex;
    border-left: 6px solid rgba(218, 168, 103, 1);
    border-top: 6px solid rgba(218, 168, 103, 1);
    border-right: 6px solid rgba(218, 168, 103, 1);
    border-bottom: 6px solid rgba(218, 168, 103, 1);
    margin-left: 10%;
    padding: 2em;
    height: 80%;
    width: 80%;
}
.page2-part2-text{
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 3em;
    width: 50%;
}
.page2-part2-title{
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 30px;
}
.page2-part2-paragraph{
    line-height: 1em;
}
.page2-part2-img1,
.page2-part2-img2{
    position: relative;
    z-index: 0;
    height: 100px;
    width: 100px;
}
.contact{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("contact-bg.png");
    background-size: cover;
}
.post-card{
    border:6px solid rgba(218, 168, 103, 1);
    position: relative;
    left: 15%;
    top: 10%;
    padding: 5px 3em;
    width: 70%;
    height: 60%;
    display:flex;
    flex-direction: column;
    line-height: 3em; 
    align-items: center;
}
.post-card-title{
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 30px;
}
.input{
    color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 40px;
    margin: 5px auto;
    padding: 1em;
}
#message-box{
    display: flex;
    align-content: top;
    height: 200px;
}
button{
    background-color: rgba(218, 168, 103, 1);
    color: white;
    padding: 1em;
    text-transform: uppercase;
    border: 0px;
    border-radius: 5px;
    border-bottom: 1px solid white;
}
.footer{
    background-color: black;
    width: 100%;
    height: 20vh;
    position: relative;
    bottom: -180px;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    padding-top: 1em;
}